<div class="container">
	<div class="row">
		<div class="playlistTitle form-group col-md-6">
			<span ng-show="playlistMeta">{{playlistMeta.name}}</span>
			<span ng-hide="playlistMeta">Playlists Popular Songs</span>
			<a ui-sref="dev">Dev</a>	
		</div>				
		<div class="form-group col-md-4">
			<input ng-model="playlistURI" style="width: 100%" type="text" class="form-control search-query span2" placeholder="Enter playlist URI or HTTP link">
		</div>				
			<button ng-disabled="!playlistURI" class="btn btn-primary btn-md" ng-click="getPlaylist()">Get Playlist</button>
			<button class="btn btn-success btn-md" ng-click="getNMT()">Get NMT</button>
	</div>
	<br>
	<div id="currentPlaylist" class="panel panel-default">
		<table class="table table-striped table-hover table-default">
			<thead>
				<th><a>Track Name</a></th>
				<th><a>Artist</a></th>
				<th><a>Track Popularity</a></th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat="track in playlist | object2Array | orderBy: '-popularity'">
					<td>
						{{track.track.name}}
					</td>
					<td>
						{{track.track.artists[0].name}}
					</td>					
					<td>
						<div class="col-sm-12"><progressbar value="track.popularity" max="100">{{track.popularity}}</progressbar></div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="panel-body empty text-center" ng-show="playlist === null">No Playlist Found</div>
	</div>
</div>