<div class="container">
	<div class="row">
		<div class="playlistTitle form-group col-md-6">
			<span ng-show="playlistMeta">{{playlistMeta.name}}</span>
			<span ng-hide="playlistMeta">Playlists Popular Songs</span>
			<!-- <a ui-sref="dev">Dev</a>	 -->
		</div>			
		<div class="form-group col-md-4">
			<input ng-model="playlistURI" style="width: 100%" type="text" class="form-control search-query span2" placeholder="Enter playlist URI or HTTP link">
		</div>
	
		<a ng-href="#/home?playlist={{playlistURI}}" ng-disabled="!playlistURI" class="btn btn-primary btn-md" ng-click="getPlaylist()">Get Playlist</a>
		<a ng-href="#/home?playlist=spotify:user:spotify:playlist:1yHZ5C3penaxRdWR7LRIObplaylistURI" class="btn btn-success btn-md" ng-click="getNMT()">Get NMT</a>
		<div class="row col-md-12">
			<div class="form-group col-md-9">
				<input ng-model="playlistFilter" style="width: 100%" type="text" class="form-control search-query span2" placeholder="Filter by song or artist">
			</div>			
			<div class="form-group col-md-3">
				<input type="text" ng-model="value" placeholder="Songs greater than popularity #" class="form-control search-query span2" >
			</div>				
		</div>
	</div>
	<br>
	<div id="currentPlaylist" class="panel panel-default">
		<table class="table table-striped table-hover table-default">
			<thead>
				<th sort order="'track.name'" by="order" reverse="reverse" init="">Track Name - <span class="badge">{{playlist.length}}</span></th>
				<th sort order="'track.artists[0].name'" by="order" reverse="reverse" init=""><a>Artist</a></th>
				<th sort order="'popularity'" by="order" reverse="reverse" init="'-popularity'"><a>Track Popularity</a></th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat="track in playlist | orderBy:order:reverse | object2Array | filter:playlistFilter | popularityFilter:value">
					<td>
						{{track.track.name}}
					</td>
					<td>
						{{track.track.artists[0].name}}
					</td>					
					<td>
						<div class="col-sm-12"><progressbar value="track.popularity" max="100">{{track.popularity}}</progressbar></div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="panel-body empty text-center" ng-show="playlist === null">No Playlist Found</div>
	</div>
</div>