@import "public/libs/bootswatch-scss/cyborg/variables";
@import "font-awesome";
@import "bootstrap";
@import "bootswatch";

html, body {
	height: 100%;
	min-height: 100%;
}

body{
	background-color: transparent;
}

html{
	background: url('../images/bg2.jpg') no-repeat center center fixed;;
	background-size: cover;
	opacity: .9;
}

a{
	cursor: pointer;
	transition: color .1s ease;
	-moz-transition: color .1s ease;
	-webkit-transition: color .1s ease;
	&:hover{
		text-decoration: none;
	}
}

.strike {
  text-decoration: line-through;
}


.box{
	p{
		padding-top: 50%;
		color: white;
	}

	&:hover{
		opacity: .8;
		cursor: pointer;
	}

	height: 200px;
	width: 200px;
	margin-right: 15px;
	margin-top: 15px;
}

input[type=text]{
	border: 1px solid gray;
	background-color: #222;
	width: 100%;
}

.form-control:focus {
	box-shadow: inset 0 1px 1px #81B819;
}

#main-wrap{

	padding-top: 0px;

	.playlistTitle{
		span{
			color:#81B819;
			font-size: 26px;
		}
	}

	#currentPlaylist{
		table{
			thead{
				a{
					text-decoration: none;
					&:hover{
						text-decoration: none;
						color:#81B819;
					}
				}
			}

			td{
				vertical-align: middle;
			}

			td.playButton{
				font-size: 1.5em;
				padding-right: 2px;
				padding-left: 15px;
			}
		}
	}
}

.divider{
	display: block;
	min-width: 100%;
	height: 10px;
	color: #81B819;
}

.paragraph{
	font-size: 1.4em;
	line-height: 1.6;
}

#navbartop{
	background: black;
}

.playNowWidget{
	position: fixed;
	bottom:0;
	background: rgba(44, 43, 43, 1);
	height: 80px;
	min-width: 100%;
	overflow: hidden;
	text-align: center;
	border-top: 4px solid rgba(0, 0, 0, 1);
}

.audio-play{
	margin-top: 5px;

	audio{
		vertical-align:inherit;
		margin-left: 5px;
	}
}
